.CodeMirror-dialog-bottom {
 position: absolute;
 width: 100%;
 bottom: 0;
 z-index: 100;
 background-color: #282828;
 color: #f8f8f0;
 padding-right: 1.2em;
 border: 0px;
 border-top-left-radius: 0px;
 border-top-right-radius: 2px;
 border-bottom-left-radius: 0px;
 border-bottom-right-radius: 0px;
}
.CodeMirror-dialog-bottom input {
 border: none;
 outline: none;
 color: #f8f8f0;
 background-color: #282828;
 width: calc(99%);
}
.edit_mode .cell.selected .CodeMirror-focused.cm-fat-cursor {
 background-color: #282828;
 color: #f8f8f0;
}
.edit_mode .cell.selected .CodeMirror-focused:not(.cm-fat-cursor) {
 background-color: #282828;
 color: #f8f8f0;
}

